.btn {
    font-weight: 500;
    background-color: transparent;
    border: none;
}

.btn--primary {
    position: relative;
    padding: 13px 45px;
    color: var(--color-accent);
    background-color: var(--color-light);
    border: 1px solid var(--color-accent);
    border-radius: var(--border-radius-x5);
}

.btn--primary:hover {
    color: var(--color-light);
    background-color: var(--color-accent);
}

.btn--primary::after {
    content: '';
    width: 127px;
    height: 45px;
    display: block;
    margin-inline: auto;

    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;

    border-radius: var(--border-radius-x5);
    box-shadow: var(--shadow-main);

    opacity: 0;
    transition-duration: var(--transition-duration);
}

.btn--primary:hover::after {
    opacity: 1;
}

.btn--secondary {
    position: relative;
    padding: 18px 78px;
    line-height: 1.6;
    font-weight: bold;
    color: var(--color-light);
    background-color: var(--color-accent);
    border: 1px solid transparent;
    border-radius: var(--border-radius-base);
}

.btn--secondary:hover {
    color: var(--color-accent);
    background-color: var(--color-light);
    border: 1px solid var(--color-accent);
    border-radius: var(--border-radius-base);
}

.btn--secondary::after {
    content: '';
    width: 127px;
    height: 45px;
    display: block;
    margin-inline: auto;

    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;

    border-radius: var(--border-radius-x5);
    box-shadow: var(--shadow-main);

    opacity: 1;
    transition-duration: var(--transition-duration);
}

.btn--secondary:hover::after {
    opacity: 0;
}

.fw-500 {
    font-weight: 500;
}

.bd-width-2 {
    border-width: 2px;
}
