@font-face {
    font-family: 'Rubik';
    src: url('../../static/fonts/Rubik-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../../static/fonts/Rubik-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../../static/fonts/Rubik-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
    --color-primary: #4F5665;
    --color-accent: #F53855;
    --color-dark: #0B132A;
    --color-light: #FFF;
    --color-gray: #EEEFF2;
    --color-shadow-red: rgba(245 56 56 / 0.35);
    --color-shadow-dark: rgba(13 16 37 / 0.1);

    --shadow-main: 0 20px 57px 4px var(--color-shadow-red);
    --shadow-secondary: 0 20px 64px var(--color-shadow-dark);

    --border-radius-base: 10px;
    --border-radius-x5: 50px;

    --font-family: 'Rubik', sans-serif;

    --container-width: 1140px;
    --container-padding-x: 10px;

    --transition-duration: 0.2s;
}

body {
    background-color: var(--color-light);
    color: var(--color-primary);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    color: var(--color-dark);
}

a {
    color: inherit;
    text-decoration: none;
}

a, button {
    transition-duration: var(--transition-duration);
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    padding-inline: var(--container-padding-x);
    margin-inline: auto;
}

.fw-500 {
    font-weight: 500;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 46px;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.logo__name {
    color: var(--color-dark);
    font-weight: 500;
}

.header__list {
    display: flex;
    column-gap: 40px;
}

.header__link:hover,
.btn:hover {
    color: var(--color-accent);
}

.header__actions {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.btn {
    font-weight: 500;
    background-color: transparent;
    border: none;
}

.btn--primary-v1 {
    position: relative;
    padding: 13px 45px;
    color: var(--color-accent);
    background-color: var(--color-light);
    border: 1px solid var(--color-accent);
    border-radius: var(--border-radius-x5);
}

.btn--primary-v1:hover {
    color: var(--color-light);
    background-color: var(--color-accent);
}

.btn--primary-v1::after {
    content: '';
    width: 127px;
    height: 45px;
    display: block;
    margin-inline: auto;

    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;

    border-radius: var(--border-radius-x5);
    box-shadow: var(--shadow-main);

    opacity: 0;
    transition-duration: var(--transition-duration);
}

.btn--primary-v1:hover::after {
    opacity: 1;
}

.about {
    display: flex;
    align-items: end;
    
    max-width: calc(1210px + var(--container-padding-x) * 2);
    padding-inline: 40px var(--container-padding-x);
    padding-block: 88px 102px;
    margin-inline: auto;
}

.about__title {
    font-weight: 500;
    font-size: 50px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.about__desc {
    line-height: 1.9;
    margin-bottom: 50px;
}

.btn--secondary {
    position: relative;
    padding: 18px 78px;
    line-height: 1.6;
    font-weight: bold;
    color: var(--color-light);
    background-color: var(--color-accent);
    border: 1px solid transparent;
    border-radius: var(--border-radius-base);
}

.btn--secondary:hover {
    color: var(--color-accent);
    background-color: var(--color-light);
    border: 1px solid var(--color-accent);
    border-radius: var(--border-radius-base);
}

.btn--secondary::after {
    content: '';
    width: 127px;
    height: 45px;
    display: block;
    margin-inline: auto;

    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;

    border-radius: var(--border-radius-x5);
    box-shadow: var(--shadow-main);

    opacity: 1;
    transition-duration: var(--transition-duration);
}

.btn--secondary:hover::after {
    opacity: 0;
}

.about__media {
    flex-shrink: 0;
}

.statistics {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--border-radius-base);
  box-shadow: var(--shadow-secondary);
}

.statistics__list {
  display: flex;
  margin-inline: auto;
  justify-content: center;
}

.statistics__item {
  position: relative;
  display: flex;
  column-gap: 36px;
  align-items: center;
  margin: 68px 100px;
}

.statistics__item:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -100px;
  height: 126px;
  width: 1px;
  background-color: var(--color-gray);
}

.statistics__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 5px;
}

.statistics__content-title {
  font-size: 25px;
  line-height: 1.2;
  color: var(--color-dark);
}

.statistics__content-desc {
  font-size: 20px;
  line-height: 1.5;
}
